html, body {
    
    background-color: #1B1924;
    user-select: none;
   
}

.Image {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

img {
    width: 90px;
    height: 90px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.form-style{
    display: flex;
    flex-direction: column;
    
}

.inputs{
    
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-style{
    font-family: 'Josefin Sans', sans-serif;
    color: #8F8F8F;
    background-color: #444059;
    width: 142px;
    height: 40px;
    border: 2px #444059 ;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    
}

.input-text {
    position: relative;
    padding-bottom: 100px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: #8F8F8F;
    background-color: #444059;
    width: 317px;
    height: 118px;
    border-radius: 10px;
    border: 2px #444059 ;
    resize: none;
    overflow: hidden;
    
}

::placeholder {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    top: 10px;
    left: 10px;
    color: #8F8F8F;
    font-size: 15px;
} 

button {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #04131C;
    background-color:#28A9F1 ;
    width: 317px;
    height: 61px;
}

button:hover {
    background-color:#444059;
    cursor: pointer;
}

button:active {
    background-color: #28A9F1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




h3 {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;

}

h4{
    margin-top: 0;
    width: 71px;
    height: 15px;
    color: #1B1924
    
}

.comment-style {
    border: 5px solid #1B1924;
    padding: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 317px;
    background-color: #FFFFFF;
    color: #1B1924;
}

